**/*.log
**/*.md
**/.dockerignore
**/.gitignore
**/Dockerfile
**/docker-compose.*
docker/nginx/
docker/php/
documentation/
features/
.env*
.gitlab-ci.yml
.idea
Makefile
.phpspec.yml
phpunit.xml.dist
public/bundles/
tests/
var/cache/*
var/logs/*
vendor/
